@import "movieList/movieList";

.home {
  padding: 40px;
}

.home__title {
  line-height: 50px;
}

.home__title-logo {
  @include retina-sprite($logo-desktop-group);

  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.movie {
  max-width: 300px;
}

.movie__item {
  width: 100%;
}

.movie__title {
  color: red;
  font-weight: 600;
}
